<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<style>
* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;  
}

.header {
  text-align: center;
  padding: 40px;
}


nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background: black;
  z-index: 1;
}

 ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(40, 148, 112);
}

#main-menu > li {
  float: left;
  position: relative;
}

#main-menu > li > a {
  font-size: 20px;
  color: rgba(253, 252, 252, 0.85);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  width: 100%;
  padding: 14px 36px;
  border-right: 1px solid rgba(0,0,0,0.15);
  
}

#main-menu > li:nth-child(1) > a {
  border-left: 1px solid rgba(0,0,0,0.15);
}

#sub-menu {
  position: absolute;
  background: #f8f8f6;
  opacity: 0;
  visibility: hidden;
  width:100%;
  text-align: center;
  transition: all 0.15s ease-in;
}

#sub-menu > li {
  padding: 16px 28px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

#sub-menu > li >  a {
  color: rgba(19, 18, 18, 0.6);
  text-decoration: none;
}

#main-menu > li:hover #sub-menu {
  opacity: 1;
  visibility: visible;
}

#sub-menu > li >  a:hover {
 text-decoration: underline;
}






</style>

<body>

     
    <div class="header">
        <h1><b>Joe's Grab and Go</b></h1>
        <h4>Order Food to  Your Door :D</h4>
        </div>
      
        <nav role="navigation">
          <ul id="main-menu">
            <li><a href="index.html"><i class="fa fa-fw fa-home"></i>Home</a></li>
            <li><a href="menu.html"><i class="fa fa-fw fa-search"></i>Menu</a>
              <ul id="sub-menu">
                <li><a href="menu_popular.html" aria-label="subemnu">Popular</a></li>
                <li><a href="menu_popular.html" aria-label="subemnu">Healthy</a></li>
                <li><a href="menu_popular.html" aria-label="subemnu">Kids</a></li>
                <li><a href="menu_popular.html" aria-label="subemnu">Dessert</a></li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-fw fa-thumbs-up"></i>Review</a>
              <ul id="sub-menu">
                <li><a href="#" aria-label="subemnu">submenu</a></li>
                <li><a href="#" aria-label="subemnu">submenu</a></li>
              </ul>
            </li>
            <li><a href="cart.html"><i class="fa fa-fw fa-shopping-cart"></i>Order</a>
              <ul id="sub-menu">
                <li><a href="cart.html" aria-label="subemnu">Cart</a></li>
                <li><a href="order.html" aria-label="subemnu">Order History</a></li>
              </ul>
            </li>
            <li><a href="login.html"><i class="fa fa-fw fa-user"></i>Login/Register</a>
              <ul id="sub-menu">
              <li><a href="login.html" aria-label="subemnu">Login</a></li>
              <li><a href="register.html" aria-label="subemnu">Register</a></li>
             </ul>
            </li>
            <li><a href="#"><i class="fa fa-fw fa-envelope"></i>Contact</a></li>
          </ul>
        </nav>
  <div class="header" id="appetizers">
  <h2 id = "appetizers">Order History</h2>
  </div>

{%for prices in price%}

{%if ((loop.length - loop.revindex)%2 == 0)%}

{%set number = ((loop.length - loop.revindex)/2) | int %}

<div class="row"> <!-- Order HIstory 1 -->
  {%endif%}
  <div class="col">
    <div class="card" style="width: 36rem;">
        <h5 class="card-header text-center">OrderID 1</h5>
        <div class="card-body">
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Order Date</b>: 05/15/2022</li>
                <li class="list-group-item"><b>Total Amount</b>: $44</li>
                <li class="list-group-item"><b>Order Type</b>: Delivery</li>
                <li class="list-group-item"><!-- Button trigger modal for order-->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1">
                    Veiw Detail
                    </button></li>
              </ul>
          
          

<!-- Modal for view dishes -->
<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">OrderID 1</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="text-center">
          </div>
          
          <br>
          <br> <b>Order date</b>: 05/15/2022
          

        
          <br> <b>Ordertype:</b> Delivery order      <!-- Button trigger modal fro review --><button type="button" class="btn btn-dark " data-bs-toggle="modal" data-bs-target="#modal1review">
            Add Review
          </button> <br>

          <br> <b>Order detail </b>:
          <table class="table"><!-- this is the table showing order detail with item/quanlity/price /total amount-->
            <thead class = "table-light">
              <tr> 
                <th scope="col">#</th>
                <th scope="col">Dishes</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th> 
                <th scope="col">Total</th> 

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>SPINACH & ARTICHOKE DIP</td>
                <td>1</td>
                <td>$ 10</td>
                <td>$ 10</td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td>CLASSIC BACON CHEESEBURGER</td>
                <td>1</td>
                <td>$ 18</td>
                <td>$ 18</td>

              </tr>
              <tr>
                <th scope="row">3</th>
                <td>FRENCH ONION SOUP</td>
                <td>2</td>
                <td>$ 8</td>
                <td>$ 16</td>

              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="3"> <b>Total Amount</b></td>
                
                <td><b>$ 44</b></td>

              </tr>
            </tbody>
          </table> <!-- end of table -->
      </div>
      <div class="modal-footer">

        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
    <!-- Modal for add review -->
    <div class="modal fade" id="modal1review" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel2">Add your review</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Submit"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Rate:</label>
                <div class="dropdown">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Rate your deliveryservice</option>
                    <option value="1">&#9733;</option>
                    <option value="2">&#9733;&#9733;</option>
                    <option value="3">&#9733;&#9733;&#9733;</option>
                    <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
                    <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                  </select>
                </div>
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Review:</label>
                <textarea class="form-control" id="review-text"></textarea>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-dark" type="button">Submit</button>
                
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#modal1" data-bs-toggle="modal">back to view</button>
          </div>
        </div>
      </div>
    </div>

</div> <!-- dish 2-->
  <div class="col">
    <div class="card" style="width: 36rem;">
        <h5 class="card-header text-center">OrderID 2</h5>
        
        <div class="card-body">
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Order Date</b>: 05/16/2022</li>
                <li class="list-group-item"><b>Total Amount</b>: $44</li>
                <li class="list-group-item"><b>Order Type</b>: Delivery</li>
                <li class="list-group-item"><!-- Button trigger modal for order-->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal2">
            Vew Detail
            </button></li>

<!-- Modal -->
<div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">OrderId 2</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
       
        </div>
        
        <br>
        <br> <b>Order date</b>: 05/15/2022
        

      
        <br> <b>Ordertype:</b> Delivery order      <!-- Button trigger modal fro review --><button type="button" class="btn btn-dark " data-bs-toggle="modal" data-bs-target="#modal1review">
          Add Review
        </button>

        <br> <b>Order detail </b>:
        <table class="table"><!-- this is the table showing order detail with item/quanlity/price /total amount-->
          <thead class = "table-light">
            <tr> 
              <th scope="col">#</th>
              <th scope="col">Dishes</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th> 
              <th scope="col">Total</th> 

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>SPINACH & ARTICHOKE DIP</td>
              <td>1</td>
              <td>$ 10</td>

            </tr>
            <tr>
              <th scope="row">2</th>
              <td>CLASSIC BACON CHEESEBURGER</td>
              <td>1</td>
              <td>$ 18</td>

            </tr>
            <tr>
              <th scope="row">3</th>
              <td>FRENCH ONION SOUP</td>
              <td>2</td>
              <td>$ 8</td>

            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="3"></td>
              
              <td>$ 44</td>

            </tr>
          </tbody>
        </table> <!-- end of table -->
    </div>
    <div class="modal-footer">

      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
    </div>
  </div>
  <!-- Modal for add review -->
  <div class="modal fade" id="modal1review" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel2">Add your review</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Submit"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Rate:</label>
              <div class="dropdown">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Rate your deliveryservice</option>
                  <option value="1">&#9733;</option>
                  <option value="2">&#9733;&#9733;</option>
                  <option value="3">&#9733;&#9733;&#9733;</option>
                  <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
                  <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                </select>
              </div>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Review:</label>
              <textarea class="form-control" id="review-text"></textarea>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-dark" type="button">Submit</button>
              
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#modal1" data-bs-toggle="modal">back to view</button>
        </div>
      </div>
    </div>
  </div>
 

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>