<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1><center>Login Authentication System Test using Flask</center></h1>

    <nav role="navigation">
        <ul id="main-menu">
          <li><a href="{{url_for('home')}}"><i class="fa fa-fw fa-home"></i>Home</a></li>
          <li><a href="{{url_for('menus')}}"><i class="fa fa-fw fa-search"></i>Menu</a>
            <ul id="sub-menu">
              <li><a href="{{url_for('menu_popular')}}" aria-label="subemnu">Popular</a></li>
              <li><a href="menu_popular.html" aria-label="subemnu">Healthy</a></li>
              <li><a href="menu_popular.html" aria-label="subemnu">Kids</a></li>
              <li><a href="menu_popular.html" aria-label="subemnu">Dessert</a></li>
            </ul>
          </li>
          <li><a href="#"><i class="fa fa-fw fa-thumbs-up"></i>Review</a>
            <ul id="sub-menu">
              <li><a href="#" aria-label="subemnu">submenu</a></li>
              <li><a href="#" aria-label="subemnu">submenu</a></li>
              <li><a href="#" aria-label="subemnu">submenu</a></li>
              <li><a href="#" aria-label="subemnu">submenu</a></li>
            </ul>
          </li>
          <li><a href="#"><i class="fa fa-fw fa-shopping-cart"></i>Order</a>
            <ul id="sub-menu">
              <li><a href="{{url_for('cart')}}" aria-label="subemnu">Cart</a></li>
              <li><a href="#" aria-label="subemnu">submenu</a></li>
              <li><a href="#" aria-label="subemnu">submenu</a></li>
              <li><a href="#" aria-label="subemnu">submenu</a></li>
              <li><a href="#" aria-label="subemnu">submenu</a></li>
            </ul>
            <li><a href="{{url_for('login')}}"><i class="fa fa-fw fa-user"></i>Log-in/Register</a>
              <ul id="sub-menu">
                <li><a href="{{url_for('login')}}" aria-label="submenu">Log-in</a></li>
                <li><a href="{{url_for('register')}}" aria-label="submenu">Register</a></li>
              </ul>
            </li>
            <li><a href="{{url_for('contact')}}"><i class="fa fa-fw fa-envelope"></i>Contact Us</a></li>
        </ul>
      </nav>
</body>
</html>