<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Login Authentication System Test using Flask</h1>
{% if cust %}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>thing</th>
            </tr>
        </thead>
        <tbody>
            {%for row in cust%}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.name}}</td>
                <td>{{ row.description}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if dish %}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>thing</th>
            </tr>
        </thead>
        <tbody>
            {%for row in dish%}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.dish.name}}</td>
                <td>{{ row.price}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{{thing[0].comment}}

{% if thing %}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>thing</th>
            </tr>
        </thead>
        <tbody>
            {%for row in thing%}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.rating}}</td>
                <td>{{ row.comment}} </td>
                <td>{{ row.customers.name}} </td>
                <td>{{ row.dish.name}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if order %}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>thing</th>
            </tr>
        </thead>
        <tbody>
            {%for row in order%}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.orders.id}} </td>
                <td>{{ row.quantity}}</td>
                <td>{{ row.dish.name}} </td>
                <td>{{ row.subtotal}} </td>
                <td>{{ row.discount}} </td>
                <td>{{ row.total}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


<!--
    This is how you would call items from the database. To specify which columns from a table you want,
    it needs to match with the column named in the class. Ex: dishes.id returns id, if you wanted the
    name, you would do dishes.name
    If you dont want the entire table contents but only a single item, you would need to go to 
    the app route and specify the query to find the item you want. 
    <li> 
-->
{% for dishes in dished %}
<center>
    <div class="header">
        <h2>Appetizers</h2>
      </div>
      <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" class="card-img-top" alt="Food Image" >
                <div class="card-body">
                  <h5 class="card-title">{{ dishes.name }}</h5>
                  <p class="card-text">
                    <br> <b>FoodDetail</b>: {{dishes. description }}
                    <br> <b>Price</b>: $$$$$
                    <br> <b>Review</b>: &#9733;&#9733;&#9733;&#9733;&#9733;</p>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Order
                  </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ dishes.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="text-center">
                  <img src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" class="rounded mx-auto d-block" alt="Food Image"width="400" height="300">
                  </div>
                  <br> <b>FoodDetail</b>: {{dishes. description }}
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...................................</p>
      
                  <br> <b>Price</b>: $$$$$
                  <br> <b>Rate</b>: &#9733;&#9733;&#9733;&#9733;&#9733;</p>
                  <br> <b>Best Review</b>: This is sooooooo good!</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
    </li>
</center>
{% endfor %}

{{ dished[0].name }}

<!-- dishing.name returns simply the name. 
    {{dishing.name}}
    {{dishing.description}}
-->
{% for pop in popular%}
    {{pop}}

{% endfor %}

{% if rating %}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>thing</th>
            </tr>
        </thead>
        <tbody>
            {%for row in rating%}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.dish.name}}</td>
                <td>{{ row.rating}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

</body>
</html>